/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AS(keycode) &as LS(keycode) keycode

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        // Tap Dance
        tap_dance_q: tap_dance_q {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp ESC>;
            tapping-term-ms = <200>;
        };

        tap_dance_tab: tap_dance_tab {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp CAPS>;
            tapping-term-ms = <200>;
        };

        td_layer_switch: tap_dance_layer_switch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&tog 1>, <&tog 2>;
        };

        // Mod-Tap: Tap-preferred
        mod_tap: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
        };

        // Mod-Tap: Hold-preferred (bindings passed in keymap)
        mod_tap_shiftenter: mod_tap_shiftenter {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1
                &tap_dance_q    &kp W        &kp F        &kp P        &kp G
                &kp J           &kp L        &kp U        &kp Y        &kp SEMI

                // Row 2
                &kp A           &kp R        &kp S        &kp T        &kp D
                &kp H           &kp N        &mod_tap LCTRL E &mod_tap LALT I &mod_tap LGUI O

                // Row 3
                &mod_tap LSHIFT Z &kp X      &kp C        &kp V        &kp B
                &kp K           &kp M        &kp COMMA    &kp DOT      &kp APOS

                // Row 4
                &tap_dance_tab  &td_layer_switch &mod_tap_shiftenter LSHIFT ENTER &kp BSPC &kp SPACE &kp DEL
            >;
        };

        lower_layer {
            bindings = <
                // Row 1
                &kp ESC &none     &kp UP      &none       &kp DEL
                &kp STAR &kp N7   &kp N8      &kp N9      &kp MINUS

                // Row 2
                &none    &kp LEFT  &kp DOWN   &kp RIGHT   &none
                &kp FSLH &kp N4    &kp N5     &kp N6      &kp KP_PLUS

                // Row 3
                &kp LGUI &none     &none      &none       &none
                &kp KP_EQUAL &kp N1 &kp N2   &kp N3      &kp N0

                // Row 4
                &kp TAB  &tog 1    &mod_tap_shiftenter LSHIFT ENTER &kp BSPC &kp SPACE &kp DOT
            >;
        };

        raise_layer {
            bindings = <
                // Row 1
                &kp F1 &kp F2    &kp F3    &kp F4    &kp F5
                &kp F8 &kp F9    &kp F10   &kp F11   &kp F12

                // Row 2
                &none  &none     &none     &none     &kp F6
                &kp F7 &kp GRAVE &kp LBKT  &kp RBKT  &kp BSLH

                // Row 3
                &none  &none     &none     &none     &none
                &none  &none     &none     &none     &kp FSLH

                // Row 4
                &kp TAB &tog 2 &mod_tap_shiftenter LSHIFT ENTER &kp BSPC &kp SPACE &kp DEL
            >;
        };

        extra_1 { status = "reserved"; };
        extra_2 { status = "reserved"; };
        extra_3 { status = "reserved"; };
    };
};
